@{
    ViewBag.Title = "Plan de gobierno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery-print.js"></script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.PlanGobierno = {
                IdPartido: ko.observable('@ViewBag.IdPartido'),
                IdPlanGobierno: ko.observable(),
                idPersonaAsesor: ko.observable(),
                Actividades: ko.observableArray(),
                SubActividades: ko.observableArray(),
                Instrumentos: ko.observableArray(),
                Autorizacion: ko.observable(false),
                Estado: ko.observable()
            };

            self.Observaciones = ko.observableArray();
            self.Observacion = {
                idObservacion: ko.observable(),
                Detalle: ko.observable()
            };

            self.AprobarPlan = function () {
                appMaster.Confirm({
                    Title: 'Aprobar',
                    Message: '¿Desea aprobar el plan de gobierno?',
                    Yes: function () {
                        $.post('@Url.Content("~/GobiernoEscolar/PlanGobierno/AprobarPlanGobierno")', { idPlan: self.PlanGobierno.IdPlanGobierno() })
                        .done(function (data) {
                            if (data != 0) {
                                self.PlanGobierno.Estado('Aprobado');
                                appMaster.MessageBox('Aprobado', 'El plan de gobierno ha sido aprobado');
                            } else {
                                appMaster.MessageBox('Aviso', 'El plan de gobierno ya está aprobado, no procede la aprobación');
                            }
                        });
                    }
                });
            }

            self.AgregarObservacion = function () {
                if (typeof appMaster.CallBack_RegistroObservacion === 'function')
                    appMaster.CallBack_RegistroObservacion();
            }

            self.AgregarObservacionActividad = function (data) {
                //console.log(data);
                self.Observacion.Detalle(null);

                var success = function (observaciones) {                    
                    $('#modal-observaciones').modal('show');
                    self.Observaciones(observaciones);

                    appMaster.CallBack_RegistroObservacion = function () {
                        var params = {
                            obs: {
                                Descripcion: self.Observacion.Detalle(),
                                idActividadPropuesta: data.idactividadPropuesta,
                                //idactPlan: data.idactPlan
                            },
                            idPlanGobierno: self.PlanGobierno.IdPlanGobierno()
                        };

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Content("~/GobiernoEscolar/PlanGobierno/GuardarObservacion")',
                            data: JSON.stringify(params),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (id) {
                                appMaster.MessageBox('Listo', 'Se agregó la observación');
                                self.Observaciones.push({ idObservacion: id, Descripcion: params.obs.Descripcion });
                                self.Observacion.Detalle(null);
                            }
                        });
                    }
                }

                $.get('@Url.Content("~/GobiernoEscolar/PlanGobierno/VerObservaciones")', { id: data.idactividadPropuesta, tipo: 'Actividad' }).done(success);
            }

            self.AgregarObservacionInstrumento = function (data) {
                //console.log(data);
                self.Observacion.Detalle(null);

                var success = function (observaciones) {
                    //console.log(observaciones);
                    $('#modal-observaciones').modal('show');
                    self.Observaciones(observaciones);

                    appMaster.CallBack_RegistroObservacion = function () {
                        var params = {
                            obs: {
                                Descripcion: self.Observacion.Detalle(),
                                idInstrumento: data.idInstrumento,
                                //idactPlan: data.idactPlan
                            },
                            idPlanGobierno: self.PlanGobierno.IdPlanGobierno()
                        };

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Content("~/GobiernoEscolar/PlanGobierno/GuardarObservacion")',
                            data: JSON.stringify(params),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (id) {
                                appMaster.MessageBox('Listo', 'Se agregó la observación');
                                self.Observaciones.push({ idObservacion: id, Descripcion: params.obs.Descripcion });
                                self.Observacion.Detalle(null);
                            }
                        });
                    }
                }

                $.get('@Url.Content("~/GobiernoEscolar/PlanGobierno/VerObservaciones")', { id: data.idInstrumento, tipo: 'Instrumento' }).done(success);
            }

            self.EliminarObservacion = function (data) {
                if (self.PlanGobierno.Estado() != 'Observado') {
                    appMaster.MessageBox('Alerta', 'No se puede eliminar la observación con el plan de gobierno en estado ' + self.PlanGobierno.Estado());
                    return;
                }

                appMaster.Confirm({
                    Title: 'Eliminar',
                    Message: '¿Desea eliminar la observación?',
                    Yes: function () {
                        $.post('@Url.Content("~/GobiernoEscolar/PlanGobierno/EliminarObservacion")', { idObservacion: data.idObservacion })
                        .done(function (r) {
                            if (r)
                                self.Observaciones.remove(data);
                        });
                    }
                });
                
            }

            self.VerSubActividades = function (data) {
                //console.log(data);
                $.getJSON('@Url.Content("~/GobiernoEscolar/PlanGobierno/VerSubActividadesPlan")', { idActividad: data.idactividadPropuesta }).
                    done(function (data) {
                        //console.log(data);
                        self.PlanGobierno.SubActividades(data);
                        $('#modal-subactividades').modal('show');
                    });
            }

            self.EnviarObservaciones = function () {
                $.post('@Url.Content("~/GobiernoEscolar/PlanGobierno/EnviarObservaciones")',
                    {
                        idPartido: self.PlanGobierno.IdPartido(),
                        idPlan: self.PlanGobierno.IdPlanGobierno()
                    })
                .done(function (data) {
                    if (data.Estado) {
                        self.PlanGobierno.Estado('Observado');
                        appMaster.MessageBox('Listo', 'Se han enviado las observaciones');
                    } else {
                        appMaster.MessageBox('Aviso', data.Mensaje);
                    }
                });
            }

            self.Imprimir = function () {
                $('.panel').printThis({ loadCSS: "@Url.Content("~/Content/css/print.css")" });
            }

            self.init = function () {
                if (self.PlanGobierno.IdPartido()) {
                    $.getJSON('@Url.Content("~/GobiernoEscolar/PlanGobierno/CargarPlanGobierno")', { idPartido: self.PlanGobierno.IdPartido() }).
                    done(function (data) {
                        console.log(data);
                        if (data.Plan) {
                            self.PlanGobierno.IdPlanGobierno(data.Plan.idplan);
                            self.PlanGobierno.idPersonaAsesor(data.Plan.idPersonaAsesor);
                            self.PlanGobierno.Actividades(data.Actividades);
                            self.PlanGobierno.Instrumentos(data.Instrumentos);
                            self.PlanGobierno.Estado(data.Plan.Estado);

                            self.PlanGobierno.Autorizacion(data.Plan.idPersonaAsesor == '@SessionHelper.Usuario.IdPersona')
                            
                            console.log('Autorizado', self.PlanGobierno.Autorizacion(), 'idPersonaAsesor autorizado -> ', self.PlanGobierno.idPersonaAsesor());
                        }
                    });
                }
            }
        }

        $(function () {
            var modelo = new ViewModel();
            ko.applyBindings(modelo);
            modelo.init();
        });
    </script>
}

@section breadcrumb{
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Gobierno Escolar</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="~/GobiernoEscolar/Partidos">Partidos</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="~/GobiernoEscolar/Partidos/Registro/@ViewBag.IdPartido">@(ViewBag.NombrePartido ?? "Partido")</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Plan de Gobierno</a>
    </li>
}

<div class="form-horizontal" style="display:none" data-bind="visible: PlanGobierno.IdPlanGobierno">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="margin:0">Plan de Gobierno - @ViewBag.NombrePartido</h4></div>
            <div class="panel-body">
                <!--ko if: PlanGobierno.IdPlanGobierno-->
                <!--ko ifnot: PlanGobierno.idPersonaAsesor-->
                <h4>Este partido postulante no tiene un asesor asignado</h4>
                <!--/ko-->
                <!--/ko-->
                <h2>Actividades</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                            <th class="col-xs-2 text-center hidden-print">Sub Actividad</th>
                            <th class="col-xs-2 text-center hidden-print">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if: PlanGobierno.Actividades().length > 0-->
                        <!--ko foreach: PlanGobierno.Actividades-->
                        <tr>
                            <td data-bind="text: $data.nombre"></td>
                            <td data-bind="text: $data.descripcion"></td>
                            <td>
                                <span data-bind="text: $data.fechaInicio"></span> al
                                <span data-bind="text: $data.fechaTermino"></span>
                            </td>
                            <td class="text-center hidden-print">
                                <a class="btn btn-link" data-bind="click: $root.VerSubActividades">Ver</a>
                            </td>
                            <td class="text-center hidden-print">
                                <a class="btn btn-link" data-bind="click: $root.AgregarObservacionActividad">Observar</a>
                            </td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->
                        <!--ko if: PlanGobierno.Actividades().length == 0-->
                        <tr>
                            <td colspan="5"><h5 class="text-center">No hay actividades</h5></td>
                        </tr>
                        <!--/ko-->
                    </tbody>
                </table>
                <h2>Instrumentos</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Objetivo</th>
                            <th class="col-xs-2 text-center hidden-print">Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if: PlanGobierno.Instrumentos().length > 0-->
                        <!--ko foreach: PlanGobierno.Instrumentos-->
                        <tr>
                            <td data-bind="text: $data.Nombre"></td>
                            <td data-bind="text: $data.Objetivo"></td>
                            <td class="text-center hidden-print">
                                <a class="btn btn-link" data-bind="click: $root.AgregarObservacionInstrumento">Observar</a>
                            </td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->
                        <!--ko if: PlanGobierno.Instrumentos().length == 0-->
                        <tr>
                            <td colspan="5"><h5 class="text-center">No hay instrumentos</h5></td>
                        </tr>
                        <!--/ko-->
                    </tbody>
                </table>
            </div>
            <!--ko if: PlanGobierno.IdPlanGobierno-->
            <div class="panel-footer text-center hidden-print">
                <!--ko if: $root.PlanGobierno.Estado() != 'Aprobado'-->
                <button type="button" class="btn btn-success" data-bind="click: AprobarPlan, enable: PlanGobierno.Autorizacion">Aprobar PG</button>
                <button type="button" class="btn btn-primary" data-bind="click: EnviarObservaciones, enable: PlanGobierno.Autorizacion">Enviar observaciones del PG</button>
                <!--/ko-->
                <button type="button" class="btn btn-default" data-bind="click: Imprimir">Imprime</button>
            </div>
            <!--/ko-->
        </div>
    </fieldset>
</div>

<h4 style="display:none;" data-bind="visible: !PlanGobierno.IdPlanGobierno()">No se ha encontrado ningún plan de gobierno</h4>

<div id="modal-subactividades" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sub Actividades</h4>
            </div>
            <div class="modal-body">
                <!--ko if: PlanGobierno.SubActividades().length > 0-->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko foreach: PlanGobierno.SubActividades-->
                        <tr>
                            <td data-bind="text: $data.Nombre"></td>
                            <td data-bind="text: $data.Descripcion"></td>
                        </tr>
                        <!--/ko-->
                    </tbody>
                </table>
                <!--/ko-->
                <!--ko if: PlanGobierno.SubActividades().length == 0-->
                <h4>No hay sub actividades</h4>
                <!--/ko-->
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-observaciones" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Observaciones</h4>
            </div>
            <div class="modal-body">
                <!--ko if: Observaciones().length == 0-->
                <h5>No hay observaciones para mostrar</h5>
                <!--/ko-->
                <!--ko if: Observaciones().length > 0-->
                <h4>Observaciones ingresadas:</h4>
                <table>
                    <tbody>
                        <!--ko foreach: Observaciones-->
                        <tr>
                            <td>
                                <i class="fa fa-check"></i> <span data-bind="text: $data.Descripcion"></span>
                            </td>
                            <!--ko if: $root.PlanGobierno.Estado() != 'Aprobado'-->
                            <td class="text-center col-xs-1">
                                <i class="fa fa-trash-o" data-bind="click: $root.EliminarObservacion"></i>
                            </td>
                            <!--/ko-->
                        </tr>
                        <!--/ko-->
                    </tbody>                    
                </table>
                <br />
                <!--/ko-->
                <!--ko if: $root.PlanGobierno.Estado() != 'Aprobado'-->
                <h4>Agregar observación</h4>              
                <textarea class="form-control" rows="5" maxlength="200" data-bind="value: Observacion.Detalle"></textarea>
                <!--/ko-->
            </div>
            <div class="modal-footer">
                <!--ko if: $root.PlanGobierno.Estado() != 'Aprobado'-->
                <button type="button" class="btn btn-primary" data-bind="click: AgregarObservacion">Agregar</button>
                <!--/ko-->
                <button data-dismiss="modal" type="button" class="btn btn-default">Salir</button>
            </div>
        </div>
    </div>
</div>